---
- name: Setup compose assignment
  hosts: all
  gather_facts: false
  become: false
  vars:
    repo_url: "https://github.com/prafdin/check-assignment-tests.git" # This should be parameterized
    repo_branch: "docker_devops_assignment" # This should be parameterized
    repo_dest: "/tmp/docker_devops_assignment"
    github_sha: "latest" # This should be passed as an extra var
    container_name: "simple-app"
  tasks:
    - name: Wait until host is reachable via SSH
      ansible.builtin.wait_for_connection:
        timeout: 360

    - name: Update apt cache
      become: yes
      ansible.builtin.apt:
        update_cache: yes

    - name: Ensure git, docker.io, and docker-compose are installed
      become: yes
      ansible.builtin.apt:
        name:
          - git
          - docker.io
          - docker-compose-v2
          - docker-buildx
        state: present
        install_recommends: no

    - name: Add ansible user to docker group
      become: yes
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes

    - name: Reset ssh connection to allow user changes to affect ansible user
      ansible.builtin.meta:
        reset_connection

    - name: Clone repository
      ansible.builtin.git:
        force: true
        repo: "{{ repo_url }}"
        dest: "{{ repo_dest }}"
        version: "{{ repo_branch }}"
        update: yes

    - name: Build Docker image
      command: "docker build --build-arg DEPLOY_REF={{ github_sha }} -t check-assignment-tests:latest ."
      args:
        chdir: "{{ repo_dest }}/app"

    - name: Rm container
      shell: "docker rm -f {{ container_name }} || true"

    - name: Run container
      command: "docker run -d --name {{ container_name }} -p 5000:5000 check-assignment-tests:latest"
