name: 'Run integration tests'

on:
  workflow_dispatch:
    inputs:
      run_terraform:
        description: 'Create and setup VM for run scenario'
        required: false
        type: boolean
      check_assignment:
        description: 'Scenario to be checked'
        required: true
        type: choice
        options:
          - webhooks_devops_assignment
          - github_actions_assignment
          - docker_assignment
          - compose_assignment

permissions:
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      TF_VAR_run: ${{ github.run_id }}
      YC_CLOUD_ID: ${{ secrets.YC_CLOUD_ID }}
      YC_FOLDER_ID: ${{ secrets.YC_FOLDER_ID }}
      TERRAFORM_WORKING_DIR: integrations_tests/${{ github.event.inputs.check_assignment }}/terraform
      ANSIBLE_WORKING_DIR: integrations_tests/${{ github.event.inputs.check_assignment }}/ansible
    steps:
    - uses: actions/checkout@v5

    - name: Print Workflow Dispatch Inputs and Env Vars
      uses: shayki5/print-workflow-dispatch-inputs@v1
      with:
        add_to_summary: 'true'

    - uses: hashicorp/setup-terraform@v3
      if: ${{ github.event.inputs.run_terraform == true}}
      with:
        terraform_version: "1.14.0"

    - name: Setup YC_TOKEN for act run
      if: ${{ github.event.inputs.run_terraform == true && env.ACT == 'true' }}
      run:
        echo "YC_TOKEN=${{ secrets.YC_TOKEN }}" >> $GITHUB_ENV

    - name: Issue YC_TOKEN for GitHub run
      if: ${{ github.event.inputs.run_terraform == true && !env.ACT }}
      id: get-iam-token
      uses: docker://ghcr.io/yc-actions/yc-iam-token-fed:1.0.0
      with:
        yc-sa-id: ${{ secrets.YC_SA_ID }}

    - name: Setup YC_TOKEN for GitHub run
      if: ${{ github.event.inputs.run_terraform == true && !env.ACT }}
      run:
        echo "YC_TOKEN=${{ steps.get-iam-token.outputs.token }}" >> $GITHUB_ENV

    - name: Run terraform apply
      if: ${{ github.event.inputs.run_terraform == true }}
      run: |
        cd ${{ env.TERRAFORM_WORKING_DIR }}
        terraform init
        terraform apply -auto-approve

    - name: Add record to /etc/hosts
      if: ${{ github.event.inputs.run_terraform == true }}
      run: |
        cd ${{ env.TERRAFORM_WORKING_DIR }}
        echo "$(terraform output -raw external_ip_address_vm) wh-devops.local" | sudo tee -a /etc/hosts

    - name: Setup SSH Agent
      if: ${{ github.event.inputs.run_terraform == true }}
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.SSH_VM_PRIVATE_KEY }}

    - name: Setup with Ansible
      if: ${{ github.event.inputs.run_terraform == true }}
      run: |
        cd ${{ env.ANSIBLE_WORKING_DIR }}
        ansible-playbook setup.yaml

    - name: Run check for webhooks_devops_assignment
      if: ${{ github.event.inputs.check_assignment == 'webhooks_devops_assignment' }}
      uses: ./
      with:
        params_file: 'params.json'
        assignee_login: ${{ github.repository_owner }}
        repo_name: "prafdin/check-assignment-tests"
        sa_ssh_pkey: ${{ secrets.SSH_PRIVATE_KEY }}
        webhooks_devops_assignment: true

    - name: Run check for github_actions_assignment
      if: ${{ github.event.inputs.check_assignment == 'github_actions_assignment' }}
      uses: ./
      with:
        params_file: 'params.json'
        assignee_login: ${{ github.repository_owner }}
        repo_name: "prafdin/check-assignment-tests"
        sa_ssh_pkey: ${{ secrets.SSH_PRIVATE_KEY }}
        github_token: ${{ secrets.SA_GITHUB_TOKEN }}
        github_actions_assignment: true

    - name: Run check for docker_assignment
      if: ${{ github.event.inputs.check_assignment == 'docker_assignment' }}
      uses: ./
      with:
        params_file: 'params.json'
        assignee_login: ${{ github.repository_owner }}
        repo_name: "prafdin/check-assignment-tests"
        sa_ssh_pkey: ${{ secrets.SSH_PRIVATE_KEY }}
        github_token: ${{ secrets.SA_GITHUB_TOKEN }}
        docker_assignment: true

    - name: Run check for compose_assignment
      if: ${{ github.event.inputs.check_assignment == 'compose_assignment' }}
      uses: ./
      with:
        params_file: 'params.json'
        assignee_login: ${{ github.repository_owner }}
        repo_name: "prafdin/check-assignment-tests"
        sa_ssh_pkey: ${{ secrets.SSH_PRIVATE_KEY }}
        github_token: ${{ secrets.SA_GITHUB_TOKEN }}
        compose_assignment: true

    - name: Run terraform destroy
      if: ${{ github.event.inputs.run_terraform == true && always() }}
      run: |
        cd ${{ env.TERRAFORM_WORKING_DIR }}
        terraform state rm yandex_vpc_subnet.subnet || true
        terraform apply -destroy -auto-approve
