name: 'Run integration tests'

on:
  workflow_dispatch:
    inputs:
      check_assignment:
        description: 'Scenario to be checked'
        required: true
        type: choice
        options:
          - webhooks_devops_assignment

jobs:
  webhook_assignment:
    if: github.event.inputs.check_assignment == 'webhooks_devops_assignment'
    runs-on: ubuntu-latest
    env:
      TF_VAR_run: ${{ github.run_id }}
      YC_CLOUD_ID: ${{ secrets.YC_CLOUD_ID }}
      YC_FOLDER_ID: ${{ secrets.YC_FOLDER_ID }}
      YC_TOKEN: ${{ secrets.YC_TOKEN }}
    steps:
    - uses: actions/checkout@v5

    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.14.0"

    - name: Run terraform apply
      run: |
        cd integrations_tests/webhooks_devops_assignment/terraform
        terraform init
        terraform apply -auto-approve

    - name: Add record to /etc/hosts
      run: |
        cd integrations_tests/webhooks_devops_assignment/terraform
        echo "$(terraform output -raw external_ip_address_vm) wh-devops.local" | sudo tee -a /etc/hosts

    - run: getent hosts wh-devops.local

    - name: Setup SSH Agent
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.SSH_VM_PRIVATE_KEY }}

    - name: Setup with Ansible
      run: |
        cd integrations_tests/webhooks_devops_assignment/ansible
        ansible-playbook setup.yaml

    - run: sleep 120

    - name: Run terraform destroy
      if: always()
      run: |
        cd integrations_tests/webhooks_devops_assignment/terraform
        terraform state rm yandex_vpc_subnet.subnet || true
        terraform apply -destroy -auto-approve

#    - uses: ./
#      with:
#        params_file: 'params.json'
#        assignee_login: ${{ github.repository_owner }}
#        repo_name: "prafdin/check-assignment-tests"
#        sa_ssh_pkey: ${{ secrets.SSH_PRIVATE_KEY }}
#        webhooks_devops_assignment: true
