name: 'Run unit tests with pytest'

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install Project
      run: |
        pip install .
    - name: Test with pytest
      run: |
        pytest -m "not slow" --junitxml=junit/test-results.xml
    - uses: actions/upload-artifact@v4
      if: ${{ env.ACT != 'true' && !cancelled() }}
      with:
        name: test-results
        path: junit/test-results.xml
    - uses: dorny/test-reporter@v2
      if: ${{ env.ACT != 'true' && !cancelled() }}
      with:
        artifact: test-results
        name: Unit tests result
        path: '*.xml'
        reporter: java-junit # да-да, не удивляйтесь